#container{
  width: 1000px;
  margin: 0 auto;
  font-size: 18px;
}
header{
  background-color: rgb(40, 40, 156);
  overflow: hidden;
  padding: 30px;
  color: white;
}
header h1{
  float: left;
}
nav{
  width: 500px;
  float: right;
  padding-top: 20px;
}
nav li{
  float: left;
  list-style: none;
  
}
nav a{
  color: white;
  text-decoration: none;
  padding: 10px;
  
}
section{
  border: 3px solid rgb(14, 172, 245);
  border-bottom: 6px solid rgb(14, 172, 245); 
   border-top: 6px solid rgb(14, 172, 245); 
  
  padding: 40px 20px;
  float: left;
}
article{
  float: left;
}
img{
  float: right;
  width: 250px;
  height: 500px;
}
article li{
  padding: 10px;
  
}
article ul li{
  list-style-type: square;
}
ol li{
  list-style-type: upper-roman;
}
footer{
  background-color: rgb(40, 40, 156);
  clear: both;
  padding: 20px;
  
}
footer p{
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: bold;
}