*{
    box-sizing: border-box;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
body{
    font-family: "맑은 고딕";
}
header{
    text-align: center;
}
nav{
    background-color: black;
    overflow: hidden;
}
.abc{
    float: right;
}
nav ul{
    padding: 0px;
    margin: 0px;
}
nav li{
    float: left;
    list-style-type: none;
    
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}
nav a:hover{
    background-color: yellow;
    color: black;
}
aside{
    float: left;
    width: 200px;
    height: 500px;
    background-color: #ebe8e8;
    text-align: center;
}
section{
    text-align: center;
    width: 600px;
    height: 500px;
    padding: 20px;
    float: left;
}
form{
    width: 500px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 20px;
}
fieldset{
    border: none;
}
form legend{
    font-weight: bold;
}
form label{

}
form li{
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 5px;
}
button{
    width: 150px;
    border-radius: 30px;
    background-color: #fef;
    padding: 15px;
    font-weight: bold;
    border: none;
}
form ul{
    padding: 0px;
}
form label{
    width: 130px;
    float: left;
}
input{
    width: 250px;
    padding: 3px;
}
footer{
    text-align: center;
    background-color: gray;
    clear: both;
    padding: 20px;
}
/* 
fieldset{

}
legend{
    font-weight: bold;
}
form li{
    border-radius: 5px;
}
label{
    float: left;
}
input{
    padding: 3px;
}
button{
    width: 150px;
    background-color: #fef;
    padding: 15px;
}
footer{
    float: none;
    background-color: #ccc;
} */