*{
  box-sizing: border-box;
}
#container{
  width: 1000px;
  margin: 0 auto;
}
body{
  font-family: "맑은 고딕";
}
header{
  text-align: center;
}
nav{
  background-color: black;
  overflow: hidden;
}
nav a{
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}
nav a:hover{
  background-color: pink;
  color:black;
}
nav ul{
  padding: 0px;
  margin: 0px;
}
nav li{
  float: left;
  list-style-type: none;
}
.abc{
  float: right;
}
aside{
  float: left;
  width: 200px;
  height: 700px;
  text-align: center;
  background-color: #ccc;
}
section{
  width: 600px;
  height: 700px;
  text-align: center;
  padding: 10px;
  float: left;
  
}
form{
  width: 500px;
  margin: 0 auto;
  background-color: #ccc;
  padding: 10px;
}
fieldset{
  border: none;
}
form legend{
  font-weight: bold;
}
form ul{
  padding: 0px;
}
form li{
  border-radius: 5px;
  background-color: rgb(255, 255, 255,0.5);
  border: 1px solid white;
  border: 1px solid white;
  padding: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}
form label{
  width: 130px;
  float: left;
}
form input{
  width: 250px;
  padding: 3px;
}
button{
  width: 150px;
  border-radius: 30px;
  background-color: #ddd;
  padding: 15px;
  font-weight: bold;
  border: none;
}
footer{
  background-color: gray;
  clear: both;
  text-align: center;
  padding: 5px;
}